@model ContosoUniversity.Web.ViewModels.University.DepartmentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Instructor.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Department.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
