@model ContosoUniversity.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details of @Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstMiddleName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt> @Html.DisplayNameFor(model => model.Enrollments): </dt>
        <br />
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Enrollments)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
                            <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </dd>
    
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },  new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
