@*@model ContosoUniversity.Web.Models.Course*@

@model ContosoUniversity.Web.ViewModels.University.CourseViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Credits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd>
            <table class="table"> <tr> <th>Instructor</th> </tr> @foreach (var item in Model.InstructorCourses)
        {<tr> <td> @Html.DisplayFor(modelItem => item.Instructor.FullName) </td>  </tr>}
            </table>
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
