@model ContosoUniversity.Web.ViewModels.University.CourseViewModel

@{
    ViewBag.Title = "Index";
}

<h2>List of all our courses</h2>

<p>
    @Html.ActionLink("Add course", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.ActionLink("Puntis", "Index", new { sortOrder = ViewBag.CreditsSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Information)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model.Courses) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
